[apps/update-manager]
launch-count=1
launch-time=int64 1735346592

[com/system76/hidpi]
enable=false

[com/ubuntu/update-notifier]
release-check-time=uint32 1738443286

[org/gnome/control-center]
last-panel='background'
window-state=(980, 640, false)

[org/gnome/desktop/app-folders]
folder-children=['Utilities', 'YaST', 'Pardus']

[org/gnome/desktop/app-folders/folders/Pardus]
categories=['X-Pardus-Apps']
name='X-Pardus-Apps.directory'
translate=true

[org/gnome/desktop/app-folders/folders/Utilities]
apps=['gnome-abrt.desktop', 'gnome-system-log.desktop', 'nm-connection-editor.desktop', 'org.gnome.baobab.desktop', 'org.gnome.Connections.desktop', 'org.gnome.DejaDup.desktop', 'org.gnome.Dictionary.desktop', 'org.gnome.DiskUtility.desktop', 'org.gnome.Evince.desktop', 'org.gnome.FileRoller.desktop', 'org.gnome.fonts.desktop', 'org.gnome.Loupe.desktop', 'org.gnome.seahorse.Application.desktop', 'org.gnome.tweaks.desktop', 'org.gnome.Usage.desktop', 'vinagre.desktop']
categories=['X-GNOME-Utilities']
name='X-GNOME-Utilities.directory'
translate=true

[org/gnome/desktop/app-folders/folders/YaST]
categories=['X-SuSE-YaST']
name='suse-yast.directory'
translate=true

[org/gnome/desktop/background]
picture-uri='file://{{ wallpaper_path }}/{{ wallpaper_file }}'
picture-uri-dark='file://{{ wallpaper_path }}/{{ wallpaper_file }}'

[org/gnome/desktop/input-sources]
sources=[('xkb', 'us')]
xkb-options=@as []

[org/gnome/desktop/interface]
clock-format='12h'
clock-show-weekday=true
gtk-theme='Shades-of-gray'
icon-theme='Moka-Minimal'
show-battery-percentage=true

[org/gnome/desktop/notifications]
application-children=['org-gnome-characters', 'org-gnome-eog']
show-in-lock-screen=false

[org/gnome/desktop/notifications/application/org-gnome-characters]
application-id='org.gnome.Characters.desktop'

[org/gnome/desktop/notifications/application/org-gnome-eog]
application-id='org.gnome.eog.desktop'

[org/gnome/desktop/peripherals/mouse]
accel-profile='adaptive'
natural-scroll=false
speed=0.28125

[org/gnome/desktop/peripherals/touchpad]
natural-scroll=true
speed=0.59999999999999998
two-finger-scrolling-enabled=true

[org/gnome/desktop/privacy]
old-files-age=uint32 14
remove-old-temp-files=true
remove-old-trash-files=true

[org/gnome/desktop/screensaver]
color-shading-type='solid'
lock-enabled=false
picture-options='zoom'
picture-uri='file:///home/bill/.local/share/backgrounds/2025-02-01-15-45-14-mountains.jpg'
primary-color='#000000000000'
secondary-color='#000000000000'

[org/gnome/desktop/search-providers]
disabled=['firefox_firefox.desktop', 'org.gnome.Nautilus.desktop', 'org.gnome.Calculator.desktop', 'org.gnome.seahorse.Application.desktop', 'code.desktop', 'org.gnome.Terminal.desktop', 'org.gnome.Documents.desktop', 'org.gnome.Contacts.desktop', 'org.gnome.Calendar.desktop']

[org/gnome/desktop/session]
idle-delay=uint32 0

[org/gnome/desktop/sound]
event-sounds=false
input-feedback-sounds=false

[org/gnome/desktop/wm/preferences]
button-layout=':close'

[org/gnome/evolution-data-server]
migrated=true

[org/gnome/gedit/preferences/editor]
scheme='Yaru'

[org/gnome/gnome-screenshot]
auto-save-directory='/home/bill/desktop/screenshots'

[org/gnome/login-screen]
logo='file://{{ profile_image_path }}/{{ profile_image_file }}'

[org/gnome/mutter]
edge-tiling=false

[org/gnome/mutter/keybindings]
toggle-tiled-left=@as []
toggle-tiled-right=@as []

[org/gnome/nautilus/list-view]
use-tree-view=true

[org/gnome/nautilus/preferences]
click-policy='single'
default-folder-viewer='icon-view'
executable-text-activation='launch'
migrated-gtk-settings=true
recursive-search='always'
search-filter-time-type='last_modified'
show-delete-permanently='true'
show-directory-item-counts='always'
show-image-thumbnails='always'

[org/gnome/nautilus/window-state]
initial-size=(890, 550)
maximized=true

[org/gnome/portal/filechooser/org.gnome.Settings]
last-folder-path='/media/photos/fav_pics'

[org/gnome/portal/filechooser/snap.firefox]
last-folder-path='/home/bill/documents/wallpapers'

[org/gnome/settings-daemon/plugins/color]
night-light-enabled=true
night-light-schedule-automatic=false
night-light-schedule-from=23.0
night-light-schedule-to=7.4999999999999982

[org/gnome/settings-daemon/plugins/power]
power-button-action='suspend'
sleep-inactive-ac-timeout=2700
sleep-inactive-ac-type='suspend'
sleep-inactive-battery-timeout=1500
sleep-inactive-battery-type='suspend'

[org/gnome/shell]
enabled-extensions=['ding@rastersoft.com', 'ubuntu-dock@ubuntu.com', 'tiling-assistant@ubuntu.com']
favorite-apps=['firefox_firefox.desktop', 'org.gnome.Nautilus.desktop', 'snap-store_snap-store.desktop', 'org.gnome.Terminal.desktop', 'org.gnome.Calculator.desktop', 'code_code.desktop']
welcome-dialog-last-shown-version='46.0'

[org/gnome/shell/extensions/dash-to-dock]
multi-monitor=true
show-mounts=false

[org/gnome/shell/extensions/ding]
check-x11wayland=true

[org/gnome/shell/extensions/tiling-assistant]
active-window-hint-color='rgb(211,70,21)'
last-version-installed=46
overridden-settings={'org.gnome.mutter.edge-tiling': <@mb nothing>, 'org.gnome.mutter.keybindings.toggle-tiled-left': <@mb nothing>, 'org.gnome.mutter.keybindings.toggle-tiled-right': <@mb nothing>}

[org/gnome/shell/extensions/user-theme]
name='Shades-of-gray'

[org/gnome/shell/interface]
enable-hot-corners=false

[org/gnome/shell/overrides]
workspaces-only-on-primary=true

[org/gnome/shell/world-clocks]
locations=@av []

[org/gnome/software]
check-timestamp=int64 1738432306

[org/gnome/terminal/legacy]
default-show-menubar=false

[org/gnome/terminal/legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9]
default-size-columns=120
scrollback-unlimited=true
scrollbar-policy='never'

[org/gtk/gtk4/settings/file-chooser]
clock-format='12h'
date-format='regular'
location-mode='path-bar'
show-hidden=false
sidebar-width=140
sort-column='name'
sort-directories-first=true
sort-order='ascending'
type-format='category'
view-type='grid'
window-size=(819, 372)

[org/gtk/settings/file-chooser]
clock-format='12h'
date-format='regular'
location-mode='path-bar'
show-hidden=false
show-size-column=true
show-type-column=true
sidebar-width=174
sort-column='name'
sort-directories-first=false
sort-order='ascending'
type-format='category'
window-position=(26, 23)
window-size=(1231, 902)