[defaults]
inventory = ./inventories/inventory_production
remote_user = hal
private_key_file = /home/bill/.ssh/hal
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
log_path = ./ansible.log
callback_plugins = ./callback_plugins  
callbacks_enabled = email_notifications  
callback_whitelist = profile_tasks, timer, email_notifications

[inventory]
enable_plugins = host_list, script, yaml, ini, auto

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
control_path = %(directory)s/%%h-%%r
pipelining = True
